#FontCategory {
    /* margin-top: 140px; */
    /* left: 59%; */
    /* position: absolute; */
    font-family: "DOHYEON";
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#FontMore {
    /* margin-top: 140px; */
    /* left: 59%; */
    /* position: absolute; */
    font-family: "DOHYEON";
    color: rgb(255, 255, 255);
    font-size: 20px;
}