@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

ul, li{
    list-style:none;
}

.title {
	color: #2196f3;
    font-size: 52px;
    text-align: center;
}