@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    /* background-color: #000000; */
    background-image: url('./img/pattern/footer_lodyas.png');
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

    -ms-overflow-style: none; /* IE and Edge Scollrbar none */
    scrollbar-width: none; /* Firefox Scollrbar none */

    
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera Scrollbar none */
}

ul, li{
    list-style:none;
}

.title {
	color: #2196f3;
    font-size: 52px;
    text-align: center;
}

@font-face {
    font-family: "DOHYEON";
    src: url('./fonts/DoHyeon-Regular.ttf');
}