.input {
    transition: width .20s linear;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 10px;
  }
  
  .input-focused {
    width: 240px;
  }