/*
https://100ah.tistory.com/entry/초초초-초간단-기본-반응형-갤러리-responsive-gallery-ul-li
*/

.list_container{
    /* width:100%; */
    max-width:1490px;
    float: left; 
    text-align: center;
} 

.contents li{
    display: inline-block;
    text-align: left;
    /* float:left; */
    margin:0 0 10px 0;
} 